@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "smart-grid";
@import "block/header";
@import "block/banner";

.index-page {
  font-family: "Nekst", sans-serif;
  background-color: $colorBlack;
  width: 100%;
  margin: 0 auto;
  min-width: 375px;
  @include flex-column;
  box-sizing: border-box;
  position: relative;
  max-width: 2000px;
  overflow-x: hidden;
}

/* button */


.button {
  position: relative;
  @include flex-row();
  align-items: center;
  justify-content: space-around;
  width: 678px;
  height: 128px;
  background-color: $colorViolet;
  border-radius: 79px;
  margin: 0 auto;

  span:nth-child(1) {
    @include fonts(45, 41.85);
    @include letter(-0.04em);
    font-weight: $fontWeightSemiBold;
  }

  span:nth-child(2) {
    z-index: 1;
    background-image: url("/assets/img/Vector.svg");
    display: block;
    width: 61px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  span:nth-child(3) {
    position: absolute;
    right: 36px;
    border: 1px solid $colorWhite;
    width: 83px;
    height: 83px;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;

    span:nth-child(2) {
      width: 84px;
      height: 24px;
      background-image: url("/assets/img/VectorTwo.svg");
    }

    span:nth-child(3) {
      width: 103px;
      height: 103px;
      background-color: $colorWhite;
    }
  }
}

@media screen and (max-width: 1100px) {
  .button {
    width: 525px;
    height: 103px;
    background-color: $colorViolet;
    border-radius: 56px;

    span:nth-child(1) {
      @include fonts(36.21, 33.68);
    }

    span:nth-child(2) {
      width: 61px;
      height: 18px;
    }

    span:nth-child(3) {
      width: 67px;
      height: 67px;
    }

    &:hover {
      span:nth-child(3) {
        width: 83px;
        height: 83px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 300px;
    height: 57px;
    border-radius: 31px;

    span:nth-child(1) {
      @include fonts(19.91, 18.52);
    }

    span:nth-child(2) {
      width: 29px;
      height: 8px;
    }

    span:nth-child(3) {
      right: 13px;
      width: 38px;
      height: 38px;
    }

    &:hover {
      span:nth-child(3) {
        width: 48px;
        height: 48px;
      }

      span:nth-child(2) {
        width: 35px;
        height: 9px;
      }
    }
  }
}

.button__banner {
  margin: 0;
  @include flex-center();
  gap: 24px;
  width: 324px;
  height: 78px;
  border-radius: 43px;

  span:nth-child(1) {
    @include fonts(28, 26);
    @include letter(-0.03em);
  }

  span:nth-child(2) {
    width: 48px;
    height: 14px;
  }

  span:nth-child(3) {
    right: 42px;
    width: 50px;
    height: 50px;
  }

  &:hover {
    span:nth-child(2) {
      width: 70px;
      height: 21px;
    }

    span:nth-child(3) {
      width: 55px;
      height: 55px;
    }
  }
}

/* border-gradient */
.border {
  top: 0;
  left: 0;
  padding: 14px 17px 0;
  content: "";
  width: 100%;
  position: absolute;
  height: 50px;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: none;
  background: linear-gradient(#000, #000) padding-box,
  $gradient-four border-box;

  &__block {
    background: linear-gradient(#000, #000) padding-box,
    $colorVioletSeven border-box;
  }

  &__trade {
    padding: 20px 20px 0;
  }

  &__stage {
    padding: 20px 25px 0;
  }

  &__partners {
    padding: 20px 25px 0;
    background: none;
    border: 1px solid $colorWhite;
    border-bottom: none;
  }
}

.border-container {
  width: 100%;
  @include flex-row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  &__trade {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .border {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 51px;

    &-container__partners {
      flex-direction: column;
      gap: 24px;
    }

    &__stage {
      padding: 35px 17px 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .border {
    height: 31px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;

    &__block {
      display: none;
    }

    &__work {
      border: none;
      height: 0;
      padding: 0;
    }

    &__stage {
      padding: 15px 13px 0;
    }
  }
}

/*/border-gradient */

@media screen and (max-width: 600px) {
  .button__banner {
    width: 300px;
    margin: 0;
    height: 59px;

    span:nth-child(1) {
      @include fonts(19, 18.81);
      @include letter(-0.02em);
    }

    span:nth-child(3) {
      right: 55px;
    }

    &:hover {
      cursor: pointer;

      span:nth-child(3) {
        right: 55px;
        width: 50px;
        height: 50px;
      }

      span:nth-child(2) {
        width: 57px;
        height: 16px;
      }
    }
  }
}

/* /button */


/* header */
.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: $colorBlack;

  &__popup {
    display: none;
    padding-bottom: 30px;
  }

  &__container {
    @include container-full(1.875rem);
    @include flex-column;
  }

  &__groups {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
  }

  &__group {
    width: 80%;
    justify-content: space-around;
    @include flex-row();
    align-items: center;
  }

  &__item {
    @include flex-row();
    @include flex-center();
    gap: 16px;

    span {
      font-weight: $fontWeightLight;
      @include fonts(25, 25);
      @include letter(-0.03em);
    }

    div {
      background-image: url("/assets/img/header/arrow.svg");
      display: block;
      width: 14px;
      height: 7px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      cursor: pointer;

      span {
        color: $colorViolet;
      }

      div {
        background-image: url("/assets/img/header/arrowTwo.svg");
      }
    }
  }

  &__nav ul {
    @include flex-row();
    gap: 30px;

    li {
      font-weight: $fontWeightMedium;
      @include fonts(25, 25);
      @include letter(-0.03em);
    }
  }

  &__button {
    @include flex-row();
    @include flex-center();
    gap: 8px;
    width: 167px;
    height: 60px;
    background-color: $colorViolet;
    border-radius: 43px;

    span:nth-child(1) {
      @include fonts(25, 25);
      @include letter(-0.03em);
      font-weight: $fontWeightMedium;
    }

    span:nth-child(2) {
      background-image: url("/assets/img/arrowLeft.svg");
      display: block;
      width: 30px;
      height: 12px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      background-color: $colorVioletFour;
      cursor: pointer;

      span:nth-child(2) {
        background-image: url("/assets/img/arrowLeftTwo.svg");
      }
    }
  }


  &__burger {
    display: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 30px;
    height: 24px;
    transition: .2s all ease-in-out;

    &:before, &:after {
      content: "";
      background-color: $colorWhite;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }

    &:before {
      top: 0;
      transition: .2s all ease-in-out;
    }

    &:after {
      bottom: 0;
      transition: .2s all ease-in-out;
    }

    span {
      position: absolute;
      background-color: $colorWhite;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 3px;
      width: 100%;
      transition: .2s all ease-in-out;
    }

    &_active {
      &:before {
        transform: rotate(45deg) translateY(-50%);
        top: 50%
      }

      &:after {
        transform: rotate(-45deg) translateY(50%);
        bottom: 50%
      }

      span {
        transform: scale(0);
      }
    }
  }
}

.logo {
  width: 245px;
  height: 52px;
}

.active {
  @include flex-column();
  align-items: center;
  gap: 66px;
}

.popup-active {
  display: none;
}

@media screen and (max-width: 1240px) {
  .header {
    &__container {
      @include container-full(1.94rem);
    }

    &__burger {
      display: block;
    }

    &__group nav {
      display: none;
    }

    &__nav ul {
      @include flex-column;
      @include flex-center;
      margin-top: 52px;
      gap: 0;

      li {
        @include fonts(35, 59);
      }
    }

  }

  .logo {
    width: 235px;
    height: 48px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__container {
      @include container-full(1.75rem);
    }

    &__group {
      display: none;
    }

    &__burger {
      width: 34px;
      height: 22px;
    }

    &__item {
      gap: 30px;
      border-radius: 40px;
      border: 1px solid $colorVioletTwo;
      width: 125px;
      height: 59px;
    }

    &__button {
      width: 345px;
      height: 60px;
      background-color: $colorBlack;
      border-radius: 27px;
      gap: 69px;
      border: 1px solid $colorVioletTwo;
      justify-content: normal;

      span:nth-child(1) {
        padding-left: 127px;
        @include fonts(22, 22);
        @include letter(-0.02em);
        font-weight: $fontWeightSemiBold;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      span:nth-child(2) {
        background-image: url("/assets/img/arrowLeft.svg");
        display: block;
        width: 30px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

  }
  .popup-active {
    display: flex;
  }

  .logo {
    width: 132px;
    height: 28px;
  }
}

/* /header */


.section__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  video {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 1000px) {
  .section__video {
    width: 163%;
    height: 51%;
    top: 493px;
    left: -503px;
  }
}

@media screen and (max-width: 800px) {
  .section__video {
    width: 187%;
    height: 65%;
    top: 493px;
    left: -463px;
  }
}

@media screen and (max-width: 600px) {
  .section__video {
    width: 205%;
    height: 70%;
    top: -93px;
    left: -34px;


    video {
      width: 189%;
      height: 100%;
      top: -129px;
      left: -41%;
      rotate: 16deg;
    }
  }
}


@media screen and (max-width: 400px) {
  .section__video {
    width: 219%;
    height: 48%;
    top: 0;
    left: 0;

  }
}


/* banner */
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  &__container {
    padding: 204px 53px 63px;
    @include flex-column;
    width: 100%;
  }

  &__text {
    width: 397px;
    margin-top: 145px;
    margin-bottom: 27px;
    font-weight: $fontWeightSemiBold;
    @include fonts(30, 33.9);
    @include letter(-0.04em);
  }


  &__title {
    width: 47%;
    margin-bottom: 16px;
    color: transparent;
    text-align: left;
    @include fonts(102, 97);
    @include letter(-0.02em);
    font-weight: $fontWeightMedium;
    background: $gradient-four;
    -webkit-background-clip: text;
  }

  &__group {
    @include flex-row;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 14%;
    height: 100px;
    @include flex-center;
    border-radius: 30px;
    background-color: $colorBlackTwo;
    border: none;

    &:hover {
      border: 1px solid $colorGrayTwo;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1100px) {
  .banner {

    &__container {
      padding: 197px 48px 29px 17px;
    }

    &__title {
      width: 76%;
      @include fonts(85, 81);
    }

    &__text {
      width: 80%;
      margin-top: 350px;
      margin-bottom: 17px;
    }

    &__img {
      width: 248px;
      height: 105px;
    }

    &__group {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .banner {
    &__container {
      padding-top: 338px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title {
      margin-top: 0;
      width: 100%;
      @include fonts(56, 55);
    }

    &__text {
      margin-top: 67px;
      margin-bottom: 19px;
      @include fonts(18.34, 20.72);
    }

    &__img {
      width: 45%;
      height: 66px;
    }
  }
}

/* /banner */

/* video */
.video {
  position: relative;
  border-radius: 30px 30px 0 0;
  margin: 0 auto;

  &__group {
    display: none;
    width: 100%;
    height: 100%;
    padding-bottom: 175px;
    padding-top: 35px;
  }

  &__play {
    width: 100%;
    height: 66%;
  }

  &__container {
    padding: 73px 150px 0;
    max-height: 862px;

    h2 {
      position: absolute;
      z-index: 5;
      top: 0;
      margin: 0 auto;
      font-weight: $fontWeightLight;
      @include fonts(70, 79.1);
      @include letter(-0.04em);
      text-align: center;
      color: transparent;
      background: $gradient-four;
      -webkit-background-clip: text;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: linear-gradient(180deg, #5A2FED 0%, #8F00FF 100%);

    span {
      background-image: url("/assets/img/video/Polygon 3.svg");
      display: block;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
      width: 30px;
      height: 34px;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .show {
    display: block;
  }

  &__img-container {
    display: none;
    position: relative;
    width: 100%;
    height: 789px;
    justify-content: center;
    align-items: center;

    &_active {
      display: flex;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:nth-child(1) {
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    &:nth-child(2) {
      height: 84%;
      width: 94%;
      z-index: 4;
    }

    &:nth-child(3) {
      height: 85%;
      width: 100%;
      z-index: 3;
    }
  }

  &__cross-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 54px;
    top: 20px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__line1, &__line2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $colorWhite;
    top: 50%;
    transform-origin: center;
  }

  &__line1 {
    transform: rotate(45deg);
  }

  &__line2 {
    transform: rotate(-45deg);
  }
}


@media screen and (max-width: 1100px) {
  .video {

    &__container {
      padding: 124px 0 0;

      h2 {
        @include fonts(49.88, 56.36);
      }
    }

    &__button {
      width: 120px;
      height: 120px;

      span {
        width: 45px;
        height: 54px;
      }
    }

    &__img-container {
      height: 738px;
    }

    &__group {
      padding: 0 100px 50px;
    }

    &__cross-icon {
      right: 39px;
      top: 73px;
    }
  }
}


@media screen and (max-width: 667px) {
  .video {
    &__container {
      max-height: 480px;
      padding-top: 60px;

      h2 {
        @include fonts(24, 30.24);
      }
    }

    &__button {
      display: none;

      span {
        width: 22px;
        height: 25px;
      }
    }

    &__img-container {
      height: 420px;

      &__image:nth-child(3) {
        height: 76%;
        width: 100%;
      }
    }

    &__cross-icon {
      right: 39px;
      top: 20px;
    }
  }
}

/* /video */


/* numbers */
.section__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


@media screen and (max-width: 1100px) {
  .section__img {
    transform: scale(1.3);
    top: 100px;

    &_trade {
      transform: none;
    }

    &_info {
      top: 0;
    }
  }
}

@media screen and (max-width: 560px) {
  .section__img {
    transform: scale(1);

    &_trade {
      height: 52%;
      background-position: 91%;
    }
  }
}

.numbers {
  position: relative;

  &__container {
    padding: 0 25px 79px;
    @include flex-column;
  }

  &__group {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    p {
      @include fontsSize15();
      margin-left: 56px;
      width: 115px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 33px;
  }

  &__item {
    width: 376px;
    @include flex-column;
    gap: 123px;
    padding: 42px 30px 21px;
    position: relative;

    &-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      border-radius: 40px;
      background: transparent;
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;

      &::before {
        content: "";
        position: absolute;
        width: 180%;
        height: 180%;
        top: 50%;
        left: 50%;
        background: linear-gradient(96.63deg, #fff 5.78%, #5f29b7 72.85%, #8E67CC) border-box;
        animation: rotate 5s ease infinite;
        translate: -50% -50%;
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &:last-child::before {
      background: linear-gradient(238.9deg, #FFFFFF 26.74%, #5F29B7 76.18%, #8E67CC) border-box;
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      transform: translate3d(0, 0, 0);
    }

    h4 {
      font-weight: $fontWeightLight;
      @include fonts(80, 74.4);
      @include letter(-0.04em);
    }

    span {
      font-weight: $fontWeightRegular;
      @include fonts(20, 20.6);
      @include letter(-0.04em);
    }
  }

  &__info {
    @include flex-column;

    h2 {
      font-weight: $fontWeightLight;
      @include fonts(250, 232.5);
      @include letter(-0.04em);
      margin-left: 56px;
      margin-bottom: 21px;
      z-index: 1;
    }

    p {
      z-index: 1;
      margin-left: 83px;
      font-weight: $fontWeightRegular;
      @include fonts(40, 41.2);
      @include letter(-0.04em);
      width: 256px;
    }
  }

  &__row {
    height: 70px;
    margin-bottom: 72px;
    position: relative;

    h4 {
      font-weight: $fontWeightMedium;
      @include fonts(60, 55.8);
      @include letter(-0.04em);
    }

    span {
      padding-top: 15px;
      font-weight: $fontWeightRegular;
      @include fonts(15, 15.45);
      @include letter(-0.04em);
      color: $colorGrayFour;
    }
  }
}


@media screen and (max-width: 1100px) {
  .numbers {
    &__container {
      padding: 0 16px 53px;
    }

    &__group {
      p {
        @include fonts(14, 14.42);
        margin-left: 56px;
      }
    }

    &__items {
      gap: 19px 13px;
    }

    &__item {
      width: 211px;
      gap: 56px;
      padding: 24px 16px;
      border-radius: 22.5px;

      h4 {
        @include fonts(44.88, 41.74);
      }

      span {
        @include fonts(17, 17.51);
      }
    }

    &__info {
      @include flex-column;

      h2 {
        @include fonts(125, 116.25);
        margin-bottom: 11px;
      }

      p {
        margin-left: 56px;
        font-weight: $fontWeightRegular;
        @include fonts(29, 29.87);
        @include letter(-0.02em);
        width: 256px;
      }
    }

    &__row {
      margin-bottom: 51px;
      height: 55px;

      span {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 760px) {
  .numbers {
    img {
      transform: scale(1.6);
      top: 146px;
    }

    &__container {
      padding-left: 10px;
      padding-right: 10px;
      gap: 90px;
    }

    &__group {
      justify-content: center;

      p {
        display: none;
      }
    }

    &__items {
      gap: 15px 11px;
      border-radius: 18.5px;
    }

    &__item {
      width: 172px;
      gap: 49px;
      padding: 19px 14px;

      h4 {
        @include fonts(36.85, 34.27);
      }

      span {
        @include fonts(12, 12.36);
      }
    }

    &__info {
      @include flex-column;

      h2 {
        @include fonts(90, 83.7);
        width: 100%;
        margin-bottom: 0;
        margin-left: 9px;
      }

      p {
        margin-left: 9px;
        @include fonts(16, 16.48);
        width: 130px;
      }
    }

    &__row {
      margin-bottom: 31px;

      h4 {
        @include fonts(37.71, 35.07);
      }

      span {
        display: none;
      }

    }
  }
}

@media screen and (max-width: 370px) {
  .numbers__item {
    width: auto;
  }
}

/* /numbers */


/* benefits */
.benefits {
  &__container {
    @include flex-column;
    padding: 50px 25px 122px;
  }

  &__row {
    height: 70px;
    position: relative;
    margin-bottom: 94px;

    h4 {
      font-weight: $fontWeightSemiBold;
      @include fonts(70, 65.1);
      @include letter(-0.04em);
    }

    span {
      @include fontsSize15;
      color: $colorGrayFour;
    }
  }

  &__info {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 187px;
    @include flex-row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;

    img {
      z-index: -1;
      max-width: 100%;
      object-fit: contain;
      position: absolute;
      top: -38px;
      object-position: center;
    }

    &_one img, &_three img {
      left: -112px;
    }

    &_two {
      justify-content: flex-start;

      img {
        right: -141px;
      }
    }
  }

  &__block {
    margin: auto 0 0;
    z-index: 2;
    position: relative;
    width: 48.5%;
    @include flex-column;
    gap: 100px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 61px;
    height: 500px;

    &_non {
      border: none;
    }

    h2 {
      font-weight: $fontWeightLight;
      @include fonts(130, 120.9);
      @include letter(-0.04em);
      color: transparent;
      background: $gradient-four;
      -webkit-background-clip: text;
    }
  }

  &__group {
    gap: 40px;
    @include flex-row;

    h3 {
      font-weight: $fontWeightRegular;
      @include fonts(40, 37.2);
      @include letter(-0.04em);
    }

    span {
      font-weight: $fontWeightLight;
      color: $colorGrayTwo;
    }

    p {
      width: 50%;
      //font-family: SF Pro Text;
      font-weight: $fontWeightLight;
      @include fonts(18, 18.54);
      @include letter(-0.04em);
      color: $colorGraySix;
    }
  }

}


@media screen and (max-width: 1400px) {
  .benefits__block h2 {
    @include fonts(110, 110.9);
  }
}

@media screen and (max-width: 1200px) {
  .benefits {
    &__container {
      padding: 95px 16px 220px;
    }

    &__row {
      margin-bottom: 26px;

      h4 {
        font-weight: $fontWeightMedium;
        @include fonts(60, 55.8);
      }

      span {
        display: none;
      }
    }


    &__info {
      margin-bottom: 92px;

      &_two {
        justify-content: flex-start;
      }

      img {
        display: flex;
        justify-content: center;
        max-width: 80%;
        right: -62px;
      }
    }

    &__block {
      height: 382px;
      gap: 84px;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 56px;

      h2 {
        @include fonts(60, 55.8);
      }
    }

    &__group {
      h3 {
        @include fonts(20.85, 21.48);
      }

      p {
        //font-family: SF Pro Text;
        @include fonts(14, 14.42);
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .benefits {
    &__container {
      padding: 54px 10px 105px;
    }

    &__info {
      align-items: center;
      @include flex-column;
      gap: 17px;
      border-top: 1px solid #644f86;
      margin-bottom: 41px;
      padding-top: 52px;
      padding-left: 0;
      padding-right: 0;

      &_one {
        border: none;
        padding-top: 0;
      }

      img {
        top: 0;
        left: 0;
        position: relative;
      }
    }

    &__row {
      margin-bottom: 15px;

      h4 {
        @include fonts(37.71, 35.07);
      }
    }


    &__block {
      height: auto;
      width: 100%;
      gap: 25px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
      border: none;

      h2 {
        @include fonts(55, 51.15);
      }
    }

    &__group {
      h3 {
        @include fonts(18, 16.74);
      }

      p {
        @include fonts(12, 12.36);
      }
    }
  }
}

/* /benefits */


/* partners */
.partners {
  border-radius: 41px;
  background: $gradient-fix;

  &__container {
    padding: 31px 25px 111px;
    @include flex-column;
    gap: 140px;
  }

  &__group {
    position: relative;
    height: 169px;

    h2 {
      width: 60%;
      font-weight: $fontWeightMedium;
      @include fonts(90, 92.7);
      @include letter(-0.04em);
    }

    p {
      color: transparent;
      background: $gradient-four;
      -webkit-background-clip: text;
      width: 40%;
      font-weight: $fontWeightMedium;
      @include fonts(40, 40);
      @include letter(-0.03em);
    }
  }

  &__block {
    @include flex-row;
    flex-wrap: wrap;
    gap: 33px;
    margin: 0 auto;
  }

  &__items {
    margin: 0 auto;
    @include flex-row;
    gap: 33px;
  }

  &__item {
    @include flex-column;
    gap: 15px;
  }

  &__img {
    width: 304px;
    height: 185px;
    @include flex-center;
    border: 1px solid #B496EE;
    border-radius: 40px;

    &:hover {
      border: 2px solid $colorWhite;
      cursor: pointer;
    }
  }

  span {
    font-weight: $fontWeightMedium;
    @include fonts(12, 15);
    @include letter(-0.04em);
    color: $colorVioletEight;
  }
}

@media screen and (max-width: 1200px) {
  .partners {
    &__container {
      padding: 22px 17px 43px;
      gap: 40px;
    }

    &__group {
      h2 {
        width: 100%;
        @include fonts(70, 72.1);
      }

      p {
        width: 100%;
        font-weight: $fontWeightMedium;
        @include fonts(30, 30);
        @include letter(-0.01em);
      }
    }

    &__block {
      gap: 19px;
    }

    &__items {
      gap: 19px;
    }

    &__item {
      gap: 0;
    }

    &__img {
      width: 370px;
      height: 130px;
    }

    span {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .partners {
    &__container {
      padding: 21px 15px 29px;
      gap: 40px;
    }

    &__group {
      h2 {
        @include fonts(40, 37.2);
      }

      p {
        @include fonts(23, 23);
        @include letter(-0.02em);
      }
    }

    &__block {
      gap: 8px;
    }

    &__items {
      gap: 8px;
    }

    &__img {
      width: 168px;
      height: 102px;
    }

  }
}

@media screen and (max-width: 370px) {
  .partners__img {
    width: 141px;
  }
}


/* /partners */
/* info */
.info {
  position: relative;

  &__container {
    padding: 41px 25px 102px;
    @include flex-column;

    p {
      @include fontsSize15;
    }

    h2 {
      height: 266px;
      color: transparent;
      background: $gradient-five;
      font-weight: $fontWeightMedium;
      @include fonts(100, 93);
      @include letter(-0.04em);
      text-align: center;
      margin: 107px auto 236px;
      width: 59%;
      -webkit-background-clip: text;
    }
  }
}


@media screen and (max-width: 1100px) {
  .info {
    &__container {
      padding-top: 119px;
      padding-bottom: 84px;

      p {
        display: none;
      }

      h2 {
        height: 214px;
        font-weight: $fontWeightRegular;
        @include fonts(80.47, 74.84);
        margin-top: 0;
        margin-bottom: 189px;
        width: 70%;
      }
    }

  }
}

@media screen and (max-width: 560px) {
  .info {
    &__container {
      padding: 46px 0 60px;

      h2 {
        height: 102px;
        font-weight: $fontWeightMedium;
        @include fonts(40, 37.6);
        @include letter(-0.03em);
        margin-top: 0;
        margin-bottom: 118px;
        width: 100%;
      }
    }
  }
}

/* /info */

/* trade */
.trade {
  overflow: hidden;
  position: relative;
  padding: 71px 25px 0;

  &__container {
    @include flex-column;
  }

  &__row {
    height: 193px;
    position: relative;
  }

  &__group {
    position: relative;
    overflow: hidden;
    padding-bottom: 81px;
  }

  &__text {
    z-index: 2;
    font-weight: $fontWeightLight;
    @include fonts(18, 18.54);
    @include letter(-0.04em);
    color: $colorGrey;
    text-align: right;
    margin-bottom: 27px;
    margin-left: auto;
  }

  h2 {
    font-weight: $fontWeightRegular;
    @include fonts(130, 120.9);
    @include letter(-0.04em);
    z-index: 2;
  }

  p {
    margin-top: 168px;
    margin-left: 20px;
    position: relative;
    font-weight: $fontWeightRegular;
    @include fonts(40, 48);
    @include letter(-0.04em);
    z-index: 2;
    margin-bottom: 118px;
    width: 414px;
  }
}


@media screen and (max-width: 1100px) {
  .trade {
    padding: 60px 17px 0;

    &__row {
      height: 115px;
    }

    &__container {
      padding: 50px 22px 0;
    }

    &__group {
      padding-bottom: 109px;
    }

    &__text {
      display: none;
    }

    h2 {
      font-weight: $fontWeightMedium;
      @include fonts(70, 65.1);
    }

    p {
      margin-top: 182px;
      @include fonts(30, 36);
      margin-bottom: 150px;
      width: 245px;
    }
  }
}

@media screen and (max-width: 560px) {
  .trade {
    padding: 36px 10px 0;

    &__container {
      padding: 0;
    }

    &__group {
      padding-bottom: 55px;
    }

    h2 {
      padding: 12px 0 0;
      @include fonts(40, 37.2);
      text-transform: lowercase;
    }

    p {
      margin-top: 352px;
      @include fonts(22, 26.4);
      margin-bottom: 27px;
      width: auto;
    }
  }
}

/* /trade */

.social__item {
  position: relative;
  overflow: hidden;

  & > svg {
    transition: all 600ms;
  }

  span {
    font-weight: $fontWeightMedium;
    @include fonts(10, 10);
    @include letter(-0.05em);
    opacity: 0;
  }

  &-hover {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    transition: all 500ms;

    path {
      fill: #5F29B7;
    }
  }

  &:hover {
    & > svg {
      opacity: 0;
    }

    span {
      opacity: 1;
    }

    .social__item-hover {
      left: 0;
    }
  }
}


/* footer */
.footer {
  &__container {
    margin: 0 auto;
    background-color: $colorBlackThree;
    border-radius: 30px 30px 0 0;
    padding: 36px 53px 70px;
    @include flex-row;
    gap: 10%;
  }

  &__groups-one {
    @include flex-row;
    width: 50%;
    gap: 10%;
    justify-content: center;
  }

  &__groups-two {
    @include flex-row;
    width: 50%;
    gap: 10%;
    justify-content: center;
  }

  &__ul {
    @include flex-column;

    li {
      font-weight: $fontWeightRegular;
      @include fonts(13, 13);
      @include letter(-0.01em);
      color: $colorGrey;

      img {
        width: 42px;
        height: 42px;
        object-fit: cover;
      }
    }
  }

  &__social {
    @include flex-row;
    margin-top: 32px;
    margin-bottom: 69px;
    gap: 9px;

    a {
      @include flex-column;
      @include flex-center;
      gap: 6px;
    }
  }

  &__group {
    @include flex-column;

    &_one {
      justify-content: space-between;

    }

    &_two {
      ul {
        @include flex-row;
        margin-top: 32px;
        margin-bottom: 69px;
        gap: 9px;

        a {
          @include flex-column;
          @include flex-center;
          gap: 6px;

          img:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    &_three, &_four {
      gap: 25px;

      ul {
        gap: 10px;
      }
    }

    &_five {
      gap: 30px;
    }

    h3 {
      @include fonts(23, 23);
      @include letter(-0.03em);
    }

    p {
      font-weight: $fontWeightRegular;
      @include fonts(17, 17);
      @include letter(-0.04em);
      color: $colorGrey;
    }
  }

  &__text {
    color: $colorWhite !important;
  }

  &__container p {
    font-weight: $fontWeightRegular;
    @include fonts(17, 17);
    @include letter(-0.04em);
    color: $colorGrey;
  }

  &__fonts-p {
    display: none;
  }
}


@media screen and (max-width: 1100px) {
  .footer {

    &__container p {
      display: flex;
      justify-content: flex-start;
    }

    &__container {
      padding: 36px 38px 56px;
      @include flex-column;
    }

    &__groups-one {
      width: 100%;
      margin: 0;
      border-bottom: 1px solid $colorVioletSix;
      padding-bottom: 46px;
    }

    &__groups-two {
      width: 100%;
      margin: 0;
      padding-top: 26px;
    }

    &__group_one p {
      display: none;
    }

    &__group_two {
      @include flex-row;
      flex-wrap: wrap;
      gap: 24px;

      ul {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .footer {
    &__container {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 31px;
    }

    &__groups-one {
      border-color: $colorGreyThree;
      padding-bottom: 16px;
    }

    &__group_one {
      display: none;
    }

    &__groups-two {
      padding-top: 18px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__group_five {
      gap: 20px;
      margin-bottom: 21px;
    }
  }
  .footer__fonts-p {
    font-size: 12px !important;
    line-height: 12px !important;
    letter-spacing: -0.02em !important;
  }
}

/* /footer */


/* work */
.work {
  &__container {
    padding: 44px 25px 141px;
    @include flex-column;
  }

  &__row {
    position: relative;
    height: 254px;
    margin-bottom: 73px;

    h2 {
      position: relative;
      width: 60%;
      //margin-bottom: 16px;
      color: transparent;
      text-align: left;
      @include fonts(90, 92.7);
      @include letter(-0.02em);
      font-weight: $fontWeightRegular;
      background: $gradient-four;
      -webkit-background-clip: text;
    }
  }

  &__group {
    margin-top: 160px;
    @include flex-row;
    gap: 22px;
  }

  &__button {
    @include flex-center;
    border: 1px solid $colorGraySeven;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: $colorBlack;

    span {
      background-image: url("/assets/img/vectorWork.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 15px;
      width: 25px;
    }

    &_next {
      width: 195px;
      border-radius: 70px;

      span {
        width: 55px;
        background-image: url("/assets/img/Vector.svg");
      }
    }

    &:hover {
      border-color: $coloVioletTen;
      cursor: pointer;
    }
  }

  &__items {
    width: 100%;
    @include flex-row;
    padding-left: 168px;
    gap: 30px;
  }

  &__item {
    @include flex-column;
    padding: 49px 39px 36px;
    border: 1px solid $colorVioletEleven;
    border-radius: 40px;
    width: 343px;
    height: 455px;

    h5 {
      font-weight: $fontWeightMedium;
      @include fonts(34, 31.62);
      @include letter(-0.04em);
      margin-bottom: 38px;
    }

    img {
      width: 115px;
      height: 106px;
    }

    p {
      margin-top: 132px;
      font-weight: $fontWeightLight;
      @include fonts(16, 20);
      @include letter(-0.04em);
      color: $colorGrayEight;
    }
  }

  &__scrollbar {
    opacity: 1;
    margin-top: 53px;
    margin-left: 168px;
    height: 5px;
    width: 80%;
    overflow: auto;

    &-drag {
      position: relative;
      background-color: $colorVioletEleven;
      height: 100%;
      width: 631px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .work h2 {
    @include fonts(71, 73.13);
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1100px) {
  .work {
    &__container {
      padding-left: 17px;
      padding-right: 17px;
      padding-bottom: 48px;
    }

    &__row {
      height: 146px;
      margin-bottom: 50px;

      h2 {
        width: 100%;
      }
    }

    &__group {
      display: none;
    }

    &__items {
      padding-left: 0;
    }

    &__item {
      @include flex-column;
      padding: 46px 37px 40px;
      width: 326px;
      height: 432px;

      h5 {
        @include fonts(32, 30);
        margin-bottom: 36px;
      }

      img {
        width: 115px;
        height: 106px;
      }

      p {
        margin-top: 114px;
        @include fonts(17, 21);
      }
    }

    &__scrollbar {
      margin-top: 40px;
      margin-left: 14px;

      &-drag {
        width: 510px;
      }
    }
  }
}

@media screen and (max-width: 715px) {
  .work {
    &__container {
      padding: 36px 24px 61px;
    }

    &__row {
      height: 100px;
      margin-bottom: 43px;

      h2 {
        @include fonts(36, 37);
        @include letter(0.01em);
        width: 100%;
      }
    }

    &__item {
      padding: 17px;
      width: 150px;
      height: 235px;

      h5 {
        @include fonts(16, 15);
        margin-bottom: 15px;
      }

      img {
        width: 50px;
        height: 50px;
      }

      p {
        margin-top: 40px;
        @include fonts(12, 15);
      }
    }

    &__scrollbar {
      margin-top: 20px;
      margin-left: 0;

      &-drag {
        width: 181px;
      }
    }
  }
}

/* /work */


/* features */

.features {
  background: $gradient-fix;
  border-radius: 41px;
  position: relative;

  &__container {
    @include flex-column;
    padding: 49px 45px 75px;
  }

  &__group {
    @include flex-row;
    justify-content: space-between;

    h4 {
      @include letter(-0.04em);
      @include fonts(70, 65.1);
      font-weight: $fontWeightSemiBold;
    }

    span {
      font-weight: $fontWeightRegular;
      @include letter(-0.04em);
      @include fonts(15, 15.45);
    }
  }

  &__items {
    margin-top: 163px;
    margin-left: 62px;
    margin-bottom: 182px;

    span {
      width: 35px;
      margin-left: 3px;
      height: 3px;
    }

    li {
      @include flex-row;
      align-items: center;
      gap: 3px;
    }

    h4 {
      font-weight: $fontWeightMedium;
      @include fonts(24, 36);
      @include letter(-0.01em);
      color: $colorVioletNine;
    }
  }

  &__info-btn {
    width: 185px;
    height: 56px;
    @include flex-center;
    gap: 17px;
    background: transparent;
    border: 1px solid $colorVioletNine;
    border-radius: 45px;

    span:nth-child(1) {
      font-weight: $fontWeightSemiBold;
      @include fonts(15.12, 18.15);
      @include letter(-0.04em);
    }

    span:nth-child(2) {
      background-image: url('/assets/img/VectorFeatures.svg');
      width: 35px;
      height: 10.53px;
    }

    &:hover {
      border: 1px solid $colorWhite;
      cursor: pointer;
    }
  }

  &__block {
    @include flex-row;
  }

  &__text {
    font-weight: $fontWeightSemiBold;
    color: $colorWhite !important;
  }

  &__span {
    background: $colorWhite;
  }

  &__btn-swiper {
    @include flex-column;
    gap: 16px;
    @include flex-center;
  }

  &__button {
    position: relative;
    height: 125px;
    width: 60px;
    border-radius: 45px;
    border: 1px solid $colorVioletThirteen;
    background: transparent;
    @include flex-center;

    span {
      background-image: url('/assets/img/VectorFeatures.svg');
      width: 35px;
      height: 10px;
      rotate: -90deg;
    }

    &_next {
      span {
        rotate: 90deg !important;
      }
    }
  }

  &__border {
    position: absolute;
    height: 80px;
    left: -1px;
    top: 0;
    width: 60px;
    border-radius: 45px 45px 0 0;
    border: none;

    &:hover {
      cursor: pointer;
      border-top: 1px solid $colorWhite;
      border-left: 1px solid $colorWhite;
      border-right: 1px solid $colorWhite;
      border-bottom: 1px solid transparent;
    }
  }

}

/* /features */


/*swiper */
.swiper {
  @include flex-center;

  &__pagination {
    display: none;
    position: absolute;
    bottom: 46px !important;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: rgba(131, 103, 189, 1);
    margin: 0 4px;
    border-radius: 52px;
  }

  &-pagination-bullet-active {
    width: 46px;
    height: 14px;
    background-color: $colorWhite;
  }

  &__item {
    opacity: 0;
    border-radius: 41px;
    padding: 76px 55px 61px;
    border: 1px solid $colorVioletThirteen;
    @include flex-row;
    gap: 21px;

    img {
      width: 120px;
      height: 116px;
    }
  }

  &__div {
    @include flex-row;
    justify-content: space-between;
  }

  &__items {
    width: 622px;
    height: 439px;
  }

  &__info {
    justify-content: space-between;
    @include flex-column;

    h5 {
      font-weight: $fontWeightRegular;
      @include fonts(40, 38.8);
      @include letter(-0.04em);
    }

    p {
      font-weight: $fontWeightRegular;
      @include fonts(15.88, 22.23);
      @include letter(-0.02em);
      color: #F5F5F5;
    }
  }


  &-next, &-prev {
    opacity: 0.8;
  }
  &-next {
  transform: translate3d(0px, -250px, -348.519px) !important;
    scale: 0.8 !important;
  }

  &-active {
    opacity: 1;
    z-index: 1;
    background: $colorVioletTwelve;
    transition: background;
    border: none;
  }

}

@media screen and (max-width: 1200px) {
  .features__block {
    height: 100vh;
  }
  .features__items {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .features {
    &__container {
      padding: 43px 45px 54px;
    }

    &__group {
      h4 {
        @include fonts(79, 74);
      }

      span {
        display: none;
      }
    }


    &__info-btn {
      width: 230px;
      height: 69px;
      gap: 15px;

      span:nth-child(1) {
        @include fonts(22, 27);
      }
    }

    &__span {
      background: $colorWhite;
    }

    &__btn-swiper {
      display: none;
    }
  }
}


@media screen and (max-width: 850px) {
  .swiper {
    &__item {
      padding: 54px 82px 44px 86px;
      gap: 0;

      img {
        width: 147px;
        height: 142px;
      }
    }

    &__pagination {
      @include flex-center;
    }

    &__items {
      width: 597px;
      height: 655px;
      margin: 100px auto 55px;
    }

    &__info {
      h5 {
        @include fonts(66.13, 54.89);
      }

      p {
        @include fonts(25, 30.5);
        @include letter(-0.03em);
      }
    }
    &-next {
      transform: translate3d(-207px, 0px, -100px) !important;
    }

    &-prev {
      transform: translate3d(207px, 0px, -100px) !important;
    }
  }

}


@media screen and (max-width: 700px) {
  .features {
    &__container {
      padding: 45px 14px 59px;
    }

    &__group {
      h4 {
        @include fonts(36, 33.8);
      }
    }

    &__block {
      height: auto;
    }

    &__info-btn {
      width: 133px;
      height: 40px;
      gap: 9px;

      span:nth-child(1) {
        @include fonts(13, 16);
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .swiper {
    &__item {
      padding: 25px;

      img {
        width: 66px;
        height: 64px;
      }
    }

    &__items {
      padding-left: 50px;
      padding-right: 50px;
      width: 271px;
      height: 320px;
      margin: 50px 0 18px;
    }

    &__info {
      h5 {
        @include fonts(30, 25);
      }

      p {
        @include fonts(12, 15);
      }
    }
  }
}

@media screen and (max-width: 392px) {
  .swiper {
    &__items {
      padding-left: 40px;
      padding-right: 40px;
    }
    &-next {
      transform: translate3d(-221px, 0px, -100px) !important;
    }

    &-prev {
      transform: translate3d(220px, 0px, -100px) !important;
    }
  }
}

/* platform */
.stage {
  &__container {
    padding: 60px 25px 98px;
    @include flex-column;
  }

  &__row {
    position: relative;
    @include flex-row;
    justify-content: space-between;
    height: 236px;

    h4 {
      font-weight: $fontWeightMedium;
      @include fonts(90, 92.7);
      @include letter(-0.04em);
    }

    span {
      @include fontsSize15;
      color: $colorGrey;
    }
  }

  &__group {
    @include flex-row;
    position: relative;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50%;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
  }

  &__items {
    margin-right: 126px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 41px 31px;
    position: relative;
    margin-left: auto;
  }

  &__item {
    width: 304px;
    @include flex-column;
    padding: 45px 59px 40px 39px;
    border: 1px solid $gradient-three;
    border-radius: 40px;

    h5 {
      font-weight: $fontWeightMedium;
      @include fonts(34, 31.62);
      @include letter(-0.04em);
      margin-bottom: 50px;
    }

    img {
      object-fit: cover;
      width: 84px;
      height: 84px;
    }

    p {
      margin-top: 96px;
      @include fonts(16, 21.6);
      @include letter(-0.04em);
      font-weight: $fontWeightRegular;
    }
  }

  &__img {
    width: 123px !important;
    height: 77px !important;
  }

  &__info {

  }
}


@media screen and (max-width: 1200px) {
  .stage {
    &__container {
      height: 100vh;
      padding: 30px 18px 62px;
    }

    &__row {
      height: 179px;

      h4 {
        @include fonts(70, 72.1);
      }

      span {
        display: none;
      }
    }

    &__items {
      margin-right: 0;
      grid-template-columns: repeat(3, 1fr);
      gap: 22px;
      margin-left: 0;
    }

    &__group {

    }

    &__item {
      margin-top: 376px;
      width: auto;
      padding: 37px 39px 42px 32px;
      border-radius: 33px;

      h5 {
        @include fonts(28.23, 26.26);
        @include letter(-0.04em);
        margin-bottom: 23px;
      }

      img {
        width: 70px;
        height: 70px;
      }

      p {
        margin-top: 68px;
        @include fonts(14, 18.9);
      }
    }

    &__img {
      width: 102px !important;
      height: 64px !important;
    }

    &__picture {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 750px) {
  .stage {
    &__container {
      padding: 0 10px 37px;
    }

    &__row {
      height: 100px;

      h4 {
        @include fonts(40, 37.2);
      }
    }

    &__items {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 344px;
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }


    &__item {
      @include flex-row;
      margin-top: 0;
      padding: 23px;
      border-radius: 22px;
      justify-content: space-between;

      h5 {
        @include fonts(19.14, 17.8);
        @include letter(-0.04em);
        margin-bottom: 0;
      }

      img {
        width: 47px;
        height: 47px;
      }

      p {
        width: 60%;
        margin-top: 0;
        @include fonts(12, 16.2);
      }
    }

    &__info {
      @include flex-column;
      gap: 15px;
    }

    &__img {
      width: 69px !important;
      height: 43px !important;
    }

    &__picture {
      top: 35%;
    }

  }
}

/* /platform */
