@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "smart-grid";
@import "block/header";
@import "block/banner";
@import "utils/telephone";


link[rel="icon"] {
  width: 50px;
  height: 50px;
}

title {
  background-color: $colorBlack;
}

.index-page {
  font-family: "Nekst", sans-serif;
  background-color: $colorBlack;
  width: 100%;
  margin: 0 auto;
  min-width: 375px;
  @include flex-column;
  box-sizing: border-box;
  position: relative;
  max-width: 2000px;
  overflow-x: hidden;
}


/* button */


.button {
  position: relative;
  @include flex-row();
  align-items: center;
  justify-content: space-around;
  width: 678px;
  height: 128px;
  background-color: $colorViolet;
  border-radius: 79px;
  margin: 0 auto;

  span:nth-child(1) {
    @include fonts(45, 41.85);
    @include letter(-0.04em);
    font-weight: $fontWeightSemiBold;
  }

  span:nth-child(2) {
    z-index: 1;
    background-image: url("/assets/img/Vector.svg");
    display: block;
    width: 61px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  span:nth-child(3) {
    position: absolute;
    right: 36px;
    border: 1px solid $colorWhite;
    width: 83px;
    height: 83px;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;

    span:nth-child(2) {
      width: 84px;
      height: 24px;
      background-image: url("/assets/img/VectorTwo.svg");
    }

    span:nth-child(3) {
      width: 103px;
      height: 103px;
      background-color: $colorWhite;
    }
  }
}

@media screen and (max-width: 1100px) {
  .button {
    width: 525px;
    height: 103px;
    background-color: $colorViolet;
    border-radius: 56px;

    span:nth-child(1) {
      @include fonts(36.21, 33.68);
    }

    span:nth-child(2) {
      width: 61px;
      height: 18px;
    }

    span:nth-child(3) {
      width: 67px;
      height: 67px;
    }

    &:hover {
      span:nth-child(3) {
        width: 83px;
        height: 83px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 300px;
    height: 57px;
    border-radius: 31px;

    span:nth-child(1) {
      @include fonts(19.91, 18.52);
    }

    span:nth-child(2) {
      width: 29px;
      height: 8px;
    }

    span:nth-child(3) {
      right: 13px;
      width: 38px;
      height: 38px;
    }

    &:hover {
      span:nth-child(3) {
        width: 48px;
        height: 48px;
      }

      span:nth-child(2) {
        width: 35px;
        height: 9px;
      }
    }
  }
}

.button__banner {
  margin: 0;
  @include flex-center();
  gap: 24px;
  width: 324px;
  height: 78px;
  border-radius: 43px;

  span:nth-child(1) {
    @include fonts(28, 26);
    @include letter(-0.03em);
  }

  span:nth-child(2) {
    width: 48px;
    height: 14px;
  }

  span:nth-child(3) {
    right: 42px;
    width: 50px;
    height: 50px;
  }

  &:hover {
    span:nth-child(2) {
      width: 70px;
      height: 21px;
    }

    span:nth-child(3) {
      width: 55px;
      height: 55px;
    }
  }
}

/* banner */
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  &__container {
    padding: 90px 53px 63px;
    @include flex-column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: linear-gradient(180deg, #5A2FED 0%, #8F00FF 100%);
    @include flex-center;

    span {
      background-image: url("/assets/img/video/Polygon 3.svg");
      display: block;
      margin: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
      width: 30px;
      height: 34px;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }


  &__img {
    @include flex-column;
    gap: 9px;
    position: absolute;
    bottom: 11%;
    right: 5%;

    a {
      border-radius: 50px;
      width: 52px;
      height: 52px;
      @include flex-center;
      background-color: $colorViolet;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  &__text {
    text-align: center;
    font-weight: $fontWeightSemiBold;
    @include fonts(30, 33.9);
    @include letter(-0.04em);
    margin-bottom: 7%;
  }


  &__title {
    width: 100%;
    margin-bottom: 12%;
    margin-top: 15%;
    color: transparent;
    text-align: center;
    @include fonts(102, 97);
    @include letter(-0.02em);
    font-weight: $fontWeightMedium;
    background: $gradient-four;
    -webkit-background-clip: text;
  }

  &__group {
    @include flex-row;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
  }

}

@media screen and (max-width: 1100px) {
  .banner {

    &__container {
      padding: 197px 48px 29px 17px;
    }

    &__title {
      @include fonts(85, 81);
    }

    &__group {
      justify-content: center;
    }

    &__button {
      width: 80px;
      height: 80px;

      //span {
      //  width: 45px;
      //  height: 54px;
      //}
    }

    &__img {
      right: 3%;
      bottom: 8%;
    }
  }
}

@media screen and (max-width: 900px) {
  .banner {
    &__title {
      margin-top: 0;
      width: 100%;
      @include fonts(60, 60);
    }

    &__text {
      @include fonts(24, 22);
      width: 70%;
    }

    &__img {
      a {
        width: 42px;
        height: 42px;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .banner {
    &__container {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title {
      @include fonts(40, 40);
    }

    &__text {
      margin-top: 67px;
      margin-bottom: 19px;
      @include fonts(18.34, 20.72);
    }

    &__img {
      a {
        width: 32px;
        height: 32px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

/* /banner */

.video {
  &__group {
    margin: 0 auto;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    padding: 100px 100px;
    position: fixed;
    right: 1rem;
    top: 0;
    z-index: 10000;
    display: none;
    width: 100%;
    height: max-content;


    &_active {
      display: block;
    }
  }

  &__play {
    width: 100%;
    height: 66%;
  }

  &__container {
    display: none;
    padding: 73px 150px 0;
    max-height: 862px;
  }


  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:nth-child(1) {
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    &:nth-child(2) {
      height: 84%;
      width: 94%;
      z-index: 4;
    }

    &:nth-child(3) {
      height: 85%;
      width: 100%;
      z-index: 3;
    }
  }

  &__cross-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 54px;
    top: 64px;


    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__line1, &__line2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $colorWhite;
    top: 50%;
    transform-origin: center;
  }

  &__line1 {
    transform: rotate(45deg);
  }

  &__line2 {
    transform: rotate(-45deg);
  }
}


@media screen and (max-width: 600px) {
  .video {
    &__group {
      padding: 50px;
      left: 0;
      right: 0;
      top: 3rem;
    }

    &__cross-icon {
      right: 21px;
      top: 17px;
    }
  }
}

/* border-gradient */
.border {
  top: 0;
  left: 0;
  padding: 14px 17px 0;
  content: "";
  width: 100%;
  position: absolute;
  height: 50px;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: none;
  background: linear-gradient(#000, #000) padding-box,
  $gradient-four border-box;

  &__block {
    background: linear-gradient(#000, #000) padding-box,
    $colorVioletSeven border-box;
  }

  &__trade {
    padding: 20px 20px 0;
  }

  &__stage {
    padding: 20px 25px 0;
  }

  &__partners {
    padding: 20px 25px 0;
    background: none;
    border: 1px solid $colorWhite;
    border-bottom: none;
  }
}

.border-container {
  width: 100%;
  @include flex-row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  &__trade {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .border {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 51px;

    &-container__partners {
      gap: 24px;
    }

    &__stage {
      padding: 35px 17px 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .border {
    height: 31px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;

    &__block {
      display: none;
    }

    &__work {
      border: none;
      height: 0;
      padding: 0;
    }

    &__stage {
      padding: 15px 13px 0;
    }

    &-container__partners {
      flex-direction: column;
      width: 100%;
    }
  }
}

/*/border-gradient */

@media screen and (max-width: 600px) {
  .button__banner {
    width: 300px;
    margin: 0;
    height: 59px;

    span:nth-child(1) {
      @include fonts(19, 18.81);
      @include letter(-0.02em);
    }

    span:nth-child(3) {
      right: 55px;
    }

    &:hover {
      cursor: pointer;

      span:nth-child(3) {
        right: 55px;
        width: 50px;
        height: 50px;
      }

      span:nth-child(2) {
        width: 57px;
        height: 16px;
      }
    }
  }
}

/* /button */


/* header */
.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: $colorBlack;

  &__container {
    padding: 20px 25px;
    @include flex-column;
  }

  &__groups {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
  }


  &__item {
    @include flex-row();
    @include flex-center();
    gap: 8px;
    width: 181px;
    height: 60px;
    background-color: $colorViolet;
    border-radius: 43px;

    span {
      @include fonts(20, 26);
      @include letter(-0.84px);
      font-weight: $fontWeightMedium;
    }

    &:hover {
      background-color: $colorVioletFour;
      cursor: pointer;
    }
  }
}

.logo {
  object-fit: contain;
  width: 100px;
  height: auto;
}


@media screen and (max-width: 1240px) {
  .header {
    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {

    &__item {
      border-radius: 40px;
      border: 1px solid $colorVioletTwo;
      width: 150px;
      height: 45px;
    }

    & span {
      @include fonts(15, 18);
    }
  }
}

/* /header */


.section__video {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  video {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }
}

.show {
  display: none;
}

//
//@media screen and (max-width: 1000px) {
//  .section__video {
//    width: 163%;
//    height: 51%;
//    top: 493px;
//    left: -503px;
//  }
//}
//
//@media screen and (max-width: 800px) {
//  .section__video {
//    width: 187%;
//    height: 65%;
//    top: 493px;
//    left: -463px;
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .section__video {
//    width: 205%;
//    height: 70%;
//    top: -93px;
//    left: -34px;
//
//
//    video {
//      width: 189%;
//      height: 100%;
//      top: -129px;
//      left: -41%;
//      rotate: 16deg;
//    }
//  }
//}


//@media screen and (max-width: 400px) {
//  .section__video {
//    width: 219%;
//    height: 48%;
//    top: 0;
//    left: 0;
//
//  }
//}


/* numbers */
.section__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}


@media screen and (max-width: 1100px) {
  .section__img {
    transform: scale(1.3);
    top: 100px;

    &_trade {
      transform: none;
    }

    &_info {
      top: 0;
    }
  }
}


@media screen and (max-width: 900px) {
  .section__img_info {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 560px) {
  .section__img {
    transform: scale(1);

    &_trade {
      height: 52%;
      background-position: 91%;
    }
  }
}

.numbers {
  position: relative;

  &__container {
    padding: 0 25px 79px;
    @include flex-column;
  }

  &__group {
    margin-top: 67px;
    @include flex-column;
    justify-content: space-between;

    p {
      @include fontsSize15();
      margin-left: 56px;
      width: 200px;
    }
  }

  &__items {
    margin-left: 56px;
    @include flex-row;
    gap: 93px;
    margin-top: 20px;
  }

  &__item {
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .15);
      z-index: 100;
    }

    &:nth-child(1), &:nth-child(3) {
      margin-top: 70px;
    }

    img {
      border-radius: 2px;
      object-fit: contain;
    }
  }

  &__info {
    @include flex-column;

    h2 {
      font-weight: $fontWeightLight;
      @include fonts(100, 100);
      @include letter(-10px);
      margin-left: 56px;
      margin-bottom: 21px;
      z-index: 1;
      height: 100%;
    }

    p {
      z-index: 1;
      margin-left: 83px;
      font-weight: $fontWeightRegular;
      @include fonts(40, 41.2);
      @include letter(-0.04em);
      width: 256px;
    }
  }

  &__row {
    height: 70px;
    margin-bottom: 72px;
    position: relative;

    h4 {
      font-weight: $fontWeightMedium;
      @include fonts(38, 55.8);
      @include letter(-2.4px);
      opacity: .6;
    }

    a {
      padding-top: 15px;
      font-weight: $fontWeightRegular;
      @include fonts(15, 15.45);
      @include letter(-0.04em);
      color: $colorGrayFour;

      &:hover {
        color: #904bff;
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  .numbers {
    &__container {
      padding: 0 16px 53px;
    }

    h2 {
      font-weight: $fontWeightLight;
      @include fonts(100, 100);
      @include letter(-10px);
      margin-left: 56px;
      margin-bottom: 21px;
      z-index: 1;
      width: 80%;
    }

    &__group {
      p {
        @include fonts(14, 14.42);
        margin-left: 56px;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px
    }

    &__item {
      width: 80%;
    }

    h2 {
      @include fonts(90, 83.7);
      margin-bottom: 11px;
    }

    &__info {
      @include flex-column;

      h2 {
        @include letter(0.01em);
        width: 100%;
      }

      p {
        margin-left: 56px;
        font-weight: $fontWeightRegular;
        @include fonts(29, 29.87);
        @include letter(-0.02em);
        width: 256px;
      }
    }

    &__row {
      margin-bottom: 51px;
      height: 55px;
    }
  }
}


@media screen and (max-width: 760px) {
  .numbers {
    &__item {
      position: relative;
      overflow: hidden;
    }

    img {
      transform: scale(1);
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__container {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__group {
      margin-top: 80px;
      justify-content: center;

      p {
        margin-left: 20px;
      }
    }

    &__items {
      margin-left: 20px;
    }

    &__item {
      margin-top: 0 !important;
      margin-left: auto;
      margin-right: auto;
      width: 172px;
      height: 214px;

      h4 {
        @include fonts(36.85, 34.27);
      }

      span {
        @include fonts(12, 12.36);
      }
    }

    &__info {
      @include flex-column;

      h2 {
        width: 100%;
        margin-bottom: 0;
        margin-left: 9px;
        @include fonts(50, 50);
        @include letter(0.01em);
      }

      p {
        margin-left: 9px;
        @include fonts(16, 16.48);
        width: 130px;
      }
    }

    &__row {
      margin-bottom: 31px;
      align-items: center;

      h4 {
        @include fonts(20, 20);
      }

      a {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .numbers {
    &__items {
      @include flex-column;
      margin-left: 0;
    }

    &__item {
      width: 230px;
      height: 230px;
    }

    &__info {
      h2 {
        @include fonts(40, 40);
      }
    }
  }
}

/* /numbers */


/* benefits */
.benefits {
  &__container {
    @include flex-column;
    padding: 50px 25px 122px;
  }

  &__row {
    height: 70px;
    position: relative;
    margin-bottom: 94px;

    h4 {
      font-weight: $fontWeightSemiBold;
      @include fonts(70, 65.1);
      @include letter(-0.04em);
    }

    span {
      @include fontsSize15;
      color: $colorGrayFour;
    }
  }

  &__info {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 187px;
    @include flex-row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;

    img {
      z-index: -1;
      max-width: 100%;
      object-fit: contain;
      position: absolute;
      top: -38px;
      object-position: center;
    }

    &_one img, &_three img {
      left: -112px;
    }

    &_two {
      justify-content: flex-start;

      img {
        right: -141px;
      }
    }
  }

  &__block {
    margin: auto 0 0;
    z-index: 2;
    position: relative;
    width: 48.5%;
    @include flex-column;
    gap: 24px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 61px;
    height: 500px;

    &_non {
      border: none;
    }

    h2 {
      font-weight: $fontWeightMedium;
      @include fonts(100, 108.9);
      @include letter(-0.04em);
      color: transparent;
      background: $gradient-four;
      -webkit-background-clip: text;
      letter-spacing: -5.199999809265137px;
      text-align: left;
    }
  }

  &__group {
    gap: 40px;
    @include flex-row;

    h3 {
      font-weight: $fontWeightRegular;
      @include fonts(34, 37.2);
      @include letter(-1.6px);
      letter-spacing: -1.600000023841858px;
      text-align: left;
    }

    span {
      font-weight: $fontWeightLight;
      color: $colorGrayTwo;
    }

    p {
      width: 50%;
      //font-family: SF Pro Text;
      font-weight: $fontWeightLight;
      @include fonts(18, 18.54);
      @include letter(-0.04em);
      color: $colorGraySix;
    }
  }

}


@media screen and (max-width: 1600px) {
  .benefits__block h2 {
    @include fonts(80, 80.9);
  }
}

@media screen and (max-width: 1240px) {
  .benefits {
    &__container {
      padding: 95px 16px 220px;
    }

    &__row {
      margin-bottom: 26px;

      h4 {
        font-weight: $fontWeightMedium;
        @include fonts(60, 55.8);
      }

      span {
        display: none;
      }
    }


    &__info {
      margin-bottom: 92px;

      &_two {
        justify-content: flex-start;
      }

      img {
        display: flex;
        justify-content: center;
        max-width: 80%;
        right: -62px;
      }
    }

    &__block {
      height: 382px;
      gap: 84px;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 56px;

      h2 {
        @include fonts(60, 55.8);
      }
    }

    &__group {
      h3 {
        @include fonts(20.85, 21.48);
      }

      p {
        //font-family: SF Pro Text;
        @include fonts(14, 14.42);
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .benefits {
    &__info_one img, &__info_three img {
      left: -88px;
    }
    &__block h2 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .benefits {
    &__container {
      padding: 54px 10px 105px;
    }

    &__info {
      align-items: center;
      @include flex-column;
      gap: 17px;
      border-top: 1px solid #644f86;
      margin-bottom: 41px;
      padding-top: 52px;
      padding-left: 0;
      padding-right: 0;

      &_one {
        border: none;
        padding-top: 0;
      }

      img {
        top: 0;
        left: 0;
        position: relative;
      }
    }

    &__row {
      margin-bottom: 15px;

      h4 {
        @include fonts(37.71, 35.07);
      }
    }


    &__block {
      height: auto;
      width: 100%;
      gap: 25px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
      border: none;

      h2 {
        @include fonts(55, 51.15);
      }
    }

    &__group {
      h3 {
        @include fonts(18, 16.74);
      }

      p {
        @include fonts(12, 12.36);
      }
    }
  }
}

/* /benefits */


/* partners */
.partners {
  border-radius: 41px;
  background: $gradient-fix;

  &__container {
    margin-bottom: 5px;
    padding: 31px 25px 111px;
    @include flex-column;
    gap: 101px;
  }

  &__text {
    margin-top: 30px;
    display: none;
    font-weight: $fontWeightLight;
    @include fonts(30, 33.9);
    letter-spacing: -1.2000000476837158px;

    &_active {
      display: flex;
    }
  }

  h4 {
    @include fonts(27, 29);
    font-weight: $fontWeightRegular;
    letter-spacing: -1.600000023841858px;
  }


  &__group {
    position: relative;
    height: 169px;

    h2 {
      font-weight: $fontWeightMedium;
      @include fonts(90, 92.7);
      @include letter(-0.04em);
    }

    h3 {
      margin-top: 30px;
      color: transparent;
      background: $gradient-four;
      -webkit-background-clip: text;
      width: 40%;
      font-weight: $fontWeightMedium;
      @include fonts(40, 40);
      @include letter(-0.03em);
    }
  }

  &__block {
    @include flex-row;
    gap: 36px;
  }

  &__items {
    @include flex-column;
    gap: 36px;
    width: 100%;
  }

  &__item {
    width: 100%;
    @include flex-column;
    border-radius: 40px;
    border: 1px solid $colorVioletNine;
    padding: 20px 56px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__info {
    align-items: center;
    @include flex-row;
    gap: 50px;
    justify-content: space-between;
  }

  &__img {
    min-width: 61px;
    max-width: 61px;
    min-height: 19px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}


@media screen and (max-width: 1280px) {
  .partners {
    &__container {
      padding: 22px 17px 43px;
      gap: 40px;
    }

    &__text {
      margin-top: 20px;
      @include fonts(20, 20);
    }

    h4 {
      @include fonts(18, 20);
    }

    &__block {
      margin-top: 50px;
    }

    &__group {
      h2 {
        @include fonts(60, 62.7);
      }

      h3 {
        @include fonts(30, 30);
      }
    }
  }

}

@media screen and (max-width: 800px) {
  .partners {
    &__container {
      padding: 21px 15px 29px;
      gap: 40px;
    }

    &__group {
      h3 {
        width: 100%;
        margin-top: 0;
      }
    }

    &__block {
      margin: 50px 0 0 0;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 450px) {
  .partners {
    &__img {
      min-width: 37px;
      max-height: 19px;
      max-width: 37px;
    }

    &__block {
      flex-direction: column;
    }

    &__group {
      height: 200px;
    }
  }
}


/* /partners */
/* info */
.info {
  height: 80vh;
  position: relative;

  &__container {
    padding: 41px 25px 102px;
    @include flex-column;
    align-items: center;
    justify-content: center;

    h2 {
      position: relative;
      color: transparent;
      background: $gradient-five;
      font-weight: $fontWeightMedium;
      @include fonts(100, 99);
      @include letter(-4px);
      text-align: center;
      margin: 107px auto 50px;
      width: 70%;
      -webkit-background-clip: text;
    }
  }

  &__buttons {
    @include flex-row;
    gap: 30px;
  }

  &__button {
    width: 256px;
    height: 86px;
    border-radius: 65px;
    background-color: $colorViolet;

    & a {
      @include flex-center;
      gap: 10px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    span {
      font-weight: $fontWeightMedium;
      @include fonts(35, 42);
      @include letter(-1.8px);
    }

    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
    }
  }
}


@media screen and (max-width: 1100px) {
  .info {
    height: auto;

    &__container {
      padding-top: 119px;
      padding-bottom: 84px;

      h2 {
        font-weight: $fontWeightRegular;
        @include fonts(80.47, 74.84);
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .info {
    &__container {
      h2 {
        @include fonts(60.47, 60.84);
      }
    }
  }
}


@media screen and (max-width: 560px) {
  .info {
    &__container {
      padding: 46px 20px 60px;

      h2 {
        font-weight: $fontWeightMedium;
        @include fonts(40, 37.6);
        @include letter(-0.03em);
        margin-top: 0;
        margin-bottom: 50px;
      }
    }

    &__button {
      padding: 0;
      width: 140px;
      height: 45px;

      span {
        font-weight: $fontWeightMedium;
        @include fonts(20, 20);
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* /info */


.social__item {
  position: relative;
  overflow: hidden;

  & > svg {
    transition: all 600ms;
  }

  span {
    font-weight: $fontWeightMedium;
    @include fonts(10, 10);
    @include letter(-0.05em);
    opacity: 0;
  }

  &-hover {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    transition: all 500ms;

    path {
      fill: #5F29B7;
    }
  }

  &:hover {
    & > svg {
      opacity: 0;
    }

    span {
      opacity: 1;
    }

    .social__item-hover {
      left: 0;
    }
  }
}


/* footer */
.footer {
  &__container {
    margin: 0 auto;
    background-color: $colorBlackThree;
    border-radius: 30px 30px 0 0;
    padding: 95px 20% 57px;
    @include flex-column;
    gap: 10%;
    align-items: center;
    justify-content: center;
  }

  &__group {
    @include flex-row;
    gap: 17px;
    margin-bottom: 34px;
  }

  p {
    @include fonts(18, 21);
    font-weight: $fontWeightRegular;
    letter-spacing: -0.6800000071525574px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.4;
  }

  a {
    margin-top: 49px;
    font-weight: $fontWeightMedium;
    @include fonts(17, 17);
    letter-spacing: -0.6800000071525574px;
    border-right: 1px solid $colorWhite;
    padding-right: 20px;

    &:nth-child(3) {
      border-right: 0;
      padding-right: 0;
    }
  }
}


@media screen and (max-width: 1100px) {
  .footer {
    &__container {
      padding: 36px 38px 56px;
      @include flex-column;
    }
  }
}

@media screen and (max-width: 560px) {
  .footer {
    &__container {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 31px;
    }
  &__group {
    align-items: center;
    flex-direction: column;
  }
    p {
      @include fonts(15, 15);
    }

    a {
      margin-top: 20px;
      border: none;
      text-align: center;
      padding-right: 0;
    }
  }
}

/* /footer */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Цвет и прозрачность затемнения */
  display: none;
  z-index: 1000; /* Выше всех остальных элементов */
}

.active {
  display: flex;
}

/* about-us */
.about-us {
  &__container {
    align-items: center;
    padding: 124px 7% 0;
    @include flex-row;
    gap: 80px;

  }

  &__img {
    width: 50%;
    height: 100%;

    img {
      object-fit: contain;
    }
  }

  &__wrapper {
    @include flex-column;
    width: 50%;
    gap: 30px;
  }

  &__item {
    @include flex-column;
    width: 100%;
  }

  &__checkbox {
    @include flex-row;
    align-items: baseline;
    gap: 10px;

    a {
      text-decoration: underline;
    }
  }

  &__group {
    @include flex-column;
    gap: 30px;
    width: 100%;

    h4 {
      font-size: calc(50px + 50 * (100vw - 375px) / 1625);
      line-height: clamp(30px, calc(1.5em + 0.3vw), 99px);
      color: transparent;
      background: $gradient-five;
      font-weight: $fontWeightMedium;
      @include letter(-4px);
      margin: 0;
      -webkit-background-clip: text;
    }

    p {
      @include fonts(26, 29);
      @include letter(-4px);
      font-weight: $fontWeightMedium;
      letter-spacing: -1.600000023841858px;
    }
  }

  &__item {
    padding: 20px 40px;
    border-radius: 40px;
    border: 1px solid $colorVioletNine;

    input {
      color: $colorWhite;
      background-color: transparent;
      @include fonts(22, 29);
      @include letter(-1.6px);
      font-weight: $fontWeightRegular;
      letter-spacing: -1.600000023841858px;
    }
  }

  &__button {
    @include flex-center;
    background: $gradient-eight;
    border-radius: 40px;
    padding: 20px 40px;
    color: $colorWhite;
    @include fonts(27, 29);
    @include letter(-1.6px);
    font-weight: $fontWeightBold;
    letter-spacing: -1.600000023841858px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}


#checkboxLabel {
  color: $colorWhite;
  opacity: 0.7;
  @include fonts(21, 23);
  @include letter(-4px);
  font-weight: $fontWeightMedium;
  letter-spacing: -1.600000023841858px;
}

@media screen and (max-width: 1200px) {
  .about-us {
    &__container {
      padding-top: 50px;
      gap: 30px;
      @include flex-column;
    }

    &__img, &__wrapper {
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    &__img {
      width: 100%;
    }

    &__wrapper {
      width: 100%;
    }
  }
}

/* /about-us */


.calendly-badge-widget {
  height: 90px;
  position: absolute;
  top: 29px;
}
