footer(class="footer")
    div(class="footer__container")
        div(class="footer__groups-one")
            div(class="footer__group footer__group_one")
                img(class="logo" src="/assets/img/logo.svg", alt="picture logo")
                p © 2022 Capico ltd.
            div(class="footer__group footer__group_two")
                p We are in social <br> networks
                ul()
                    li
                        a(href="#")
                            img(src="/assets/img/footer/twitter.svg" alt="picture icon")
                    li
                        a(href="#")
                            img(src="/assets/img/footer/facebook.svg" alt="picture icon")
                    li
                        a(href="#")
                            img(src="/assets/img/footer/youtube.svg" alt="picture icon")
                    li
                        a(href="#")
                            img(src="/assets/img/footer/telegram.svg" alt="picture icon")
                            span Chat
                    li
                        a(href="#")
                            img(src="/assets/img/footer/telegram@.svg" alt="picture icon")
                            span(class="footer__span") Channel
                    li
                        a(href="#")
                            img(src="/assets/img/footer/vk.svg" alt="picture icon")
                p(class="footer__text") info@capico.app
        div(class="footer__groups-two")
            div(class="footer__group footer__group_three")
                h3 Documents
                ul(class="footer__ul")
                    li Terms of use
                    li Privacy Policy
                    li Referral Agreement
            div(class="footer__group footer__group_four")
                h3 Platform
                ul(class="footer__ul")
                    li Functions
                    li Tariffs
                    li Partners
                    li Academy
                    li Knowledge base
                    li Popular questions
                    li Jobs
            div(class="footer__group footer__group_five")
                h3 Sign in
                h3 Create an account
        p(class="footer__fonts-p") © 2022 Capico ltd.

