header(class="header")
    div(class="header__container")
        div(class="header__groups")
            img(class="logo" src="/assets/img/logo.svg", alt="Picture logo")
            div(class="header__group")
                div(class="header__item")
                    span en
                    div
                nav(class="header__nav")
                    ul
                        li
                            a(href="#") features
                        li
                            a(href="#") prices
                        li
                            a(href="#") partners
                        li
                            a(href="#") knowledge
                        li
                            a(href="#") academy
                button(class="header__button", type="button")
                    span sign in
                    span
            button(class="header__burger", type="button")
                span
        div(class="header__popup")
            nav(class="header__nav")
                ul
                    li
                        a(href="#") main
                    li
                        a(href="#") features
                    li
                        a(href="#") prices
                    li
                        a(href="#") partners
                    li
                        a(href="#") knowledge
                    li
                        a(href="#") academy
            div(class="header__item popup-active")
                span en
                div
            button(class="header__button popup-active", type="button")
                span sign in
                span
