header(class="header")
    div(class="header__container")
        div(class="header__groups")
            img(class="logo" src="/assets/img/logo2.svg", alt="Picture logo")
            div(class="header__group")
                script(type="text/javascript") window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/unixtradinghub/30min?month=2024-06', text: 'Book A Call!',  color: '#5f29b7', textColor: '#ffffff', branding: undefined }); }

