extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Webpack-template with Pug';
    - var description='Description for webpack + Pug';
    - var pageClass='index-page';

block content

    section(class="banner")
        video(autoplay muted loop class="banner__video")
            source(src="assets/img/anmim.mp4" type="video/mp4")
        div(class="banner__container")
            h1(class="banner__title") Crypto trading with bots and smart seals
            button(class="button button__banner")
                span Sign up now
                span
                span
            p(class="banner__text") Trade for free on your favorite exchanges
            div(class="banner__group")
                div(class="banner__img")
                    img(src="assets/img/banner/binance.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/FTX.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/huobi.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/exmo.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/okx.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/bybit.svg" alt="picture logo")

    section(class="video")
        div(class="video__container")
            div(class="video__img-container video__img-container_active")
                h2 Manage positions on different <br> exchanges from one <br> window
                img(class="video__image" src="assets/img/video/fonOne.png" alt="picture video")
                img(class="video__image" src="assets/img/video/fonTwo.png" alt="picture video")
                img(class="video__image" src="assets/img/video/fonThree.png" alt="picture video")
                button(class="video__button" type="button")
                    span
            div(class="video__group")
                div(class="video__cross-icon")
                    div(class="video__line1")
                    div(class="video__line2")
                video(class="video__play" controls)
                    source(src="assets/video.mp4" type="video/mp4")

    section(class="numbers")
        div(class="numbers__container")
            img(src="assets/img/numbers/numbers.png" alt="picture fon")
            div(class="numbers__info")
                div(class="numbers__row")
                    div(class="border")
                        div(class="border-container")
                            h4 numbers
                            span Manage positions on
                h2 $18.5 B+
                p Total trading volume
            div(class="numbers__group")
                p Actual statistic on 19.07.2022
                div(class="numbers__items")
                    div(class="numbers__item")
                        h4 36 М+
                        span We are online
                    div
                    div(class="numbers__item")
                        h4 21.5 K+
                        span Traiders <br> in platform
                    div(class="numbers__item")
                        h4 325 M+
                        span Total <br> deals in platform

    section(class="benefits")
        div(class="benefits__container")
            div(class="benefits__row")
                div(class="border")
                    div(class="border-container")
                        h4 benefits
                        span Manage positions on
            div(class="benefits__info benefits__info_one")
                img(src="assets/img/benefits/benefitsOne.png" alt="screenshot with statistics")
                div(class="benefits__block benefits__block_non")
                    h2 Interface Builder
                    div(class="benefits__group")
                        h3 Customize <br> your look
                        p Remove the excess, add what you need. <br> Trade at your convenience.
            div(class="benefits__info benefits__info_two")
                img(src="assets/img/benefits/benefitsTwo.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    div(class="benefits__item")
                         h2 MultiChart
                    div(class="benefits__group")
                        h3 Add any trading pairs
                            span  from different exchanges and analyzecryptocurrency assets on one screen
            div(class="benefits__info benefits__info_three")
                img(src="assets/img/benefits/benefitsThree.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    h2 Portfolio & Statistics
                    div(class="benefits__group")
                        h3 Your assets on all connected exchanges are collected in one place
                        p Visual statistics of trade. <br> Uploading reports

    section(class="trade")
        div(class="trade__container")
            div(class="trade__row")
                div(class="border border__trade")
                    div(class="border-container border-container__trade")
                        span(class="trade__text") All functionality is always at hand.
                        h2 Trade anywhere
            div(class="trade__group")
                img(src="assets/img/trade/fonTrade.png" alt="Fon block")
                p The service is fully adapted to work through a browser on your smartphone or tablet
                button(class="button")
                    span Create an account
                    span
                    span

    section(class="partners")
        div(class="partners__container")
            div(class="partners__group")
                div(class="border border__partners")
                    div(class="border-container border-container__partners")
                        h2 our partners
                        p The Capico platform is the official broker of the leading cryptocurrency exchanges
            div(class="partners__block")
                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/binance.svg" alt="picture logo")
                        span binance
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/FTX.svg" alt="picture logo")
                        span fedex
                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/huobi.svg" alt="picture logo")
                        span huobi
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/okx.svg" alt="picture logo")
                        span okx

    section(class="info")
        video(autoplay muted loop class="banner__video")
            source(src="assets/img/anmim.mp4" type="video/mp4")
        di(class="info__container")
            p Free use per month
            h2 Try Capico for free per month
            button(class="button")
                span Create an account
                span
                span

block script
    script(type='text/javascript')

