extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='UNIX';
    - var description = 'UNIX';
    - var pageClass='index-page';

block content
    div(class="overlay")
    div(class="video__group")
        div(class="video__cross-icon")
            div(class="video__line1")
            div(class="video__line2")
        video(class="video__play" controls)
            source(src="assets/video.mp4" type="video/mp4")

    section(class="banner")
        div(class="section__video section__video_active")
            video(id="myVideo" autoplay muted loop)
                source(src="assets/img/anmim.mp4" type="video/mp4")
        div(class="banner__container")
            h1(class="banner__title") Get your first $1K to $1.5K a week the most profitable skill ever
            button(class="banner__button" type="button")
                span
            p(class="banner__text") Make anywhere from $1,000 to $1,500 a week as a beginner <br> Trader using Unix Trading Strategy!
            div(class="banner__img")
                a(href="https://discord.gg/Rgfzs9PP" target="_blank")
                    img(src="assets/img/info/picOne.svg" alt="picture")
                a(href="https://t.me/unixtradinghub" target="_blank")
                    img(src="assets/img/info/picTwo.svg" alt="picture")
    section(class="benefits")
        div(class="benefits__container")
            div(class="benefits__row")
                div(class="border")
                    div(class="border-container")
                        h4 What You'll Learn 
                        span World’s best trading community
            div(class="benefits__info benefits__info_one")
                img(src="assets/img/benefits/benefitsOne.png" alt="screenshot with statistics")
                div(class="benefits__block benefits__block_non")
                    h2 Proven Trading Strategies
                    div(class="benefits__group")
                        h3 Discover the techniques used by successful traders to consistently make profit.Uncover the mechanics of day trading, swing trading, and other strategic approaches.
            div(class="benefits__info benefits__info_two")
                img(src="assets/img/benefits/benefitsTwo.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    div(class="border border__block")
                    h2 Risk Management
                    div(class="benefits__group")
                        h3 Learn how to protect your capital and minimise losses.
            div(class="benefits__info benefits__info_three")
                img(src="assets/img/benefits/benefitsThree.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    h2 Market Analysis
                    div(class="benefits__group")
                        h3 Master the art of analysing market trends and making informed trading decisions that will maximise your profits in the Forex Market.


    section(class="numbers")
        div(class="section__img" style="background-image:url(/assets/img/numbers/numbers.png)")
        div(class="numbers__container")
            div(class="numbers__info")
                div(class="numbers__row")
                    div(class="border")
                        div(class="border-container")
                            h4 UNIX TRADING HUB
                            a(href="#" target="_blank") Become Trader Now
                h2 These are the daily results of the Unix Trade members.
            div(class="numbers__group")
                p Seamless Trading Experience
                div(class="numbers__items")
                    div(class="numbers__item")
                        img(src="assets/img/numbers/photo1.jpg")
                    div(class="numbers__item")
                        img(src="assets/img/numbers/photo2.jpg")
                    div(class="numbers__item")
                        img(src="assets/img/numbers/photo3.jpg")
                    div(class="numbers__item")
                        img(src="assets/img/numbers/photo4.jpg")

    section(class="about-us")
        div(class="about-us__container")
            div(class="about-us__img")
                 img(src="assets/img/cover.png" alt="picture")
            form(class="about-us__wrapper" id="form-reg")
                    div(class="about-us__group")
                        h4 From zero to hero with Trading
                        p To access the e-book for free, please fill out the form below with your correct information.
                    div(class="about-us__item")
                        input(name="name" type="text" id="exampleInputName1" placeholder="Name Surname" minLength="3"  maxLength="40" required)
                    div(class="about-us__item")
                        input(name="email" type="email" id="exampleInputEmail1" placeholder="Email" minLength="6" maxLength="40" required)
                    div(class="about-us__item")
                        input(name="phone" type="text"  id="phone" placeholder="Phone" value="Phone" required)
                    div(class="about-us__checkbox")
                        input(type="checkbox" id="scales" name="scales" required checked)
                        label(for="scales" id="checkboxLabel") I agree to <a href="#" target="_blank"> terms & conditions </a> provided by the company. By providing my phone number, I agree to receive text messages from the business.

                    button(type="submit" class="about-us__button") Get Free E-Book



    section(class="info")
        div(class="section__img section__img_info" style="background-image:url(/assets/img/infoFon.png)")
        div(class="info__container")
            h2 World’s Most Profitable Trading Community
            div(class="info__buttons")
                button(class="info__button")
                    a(href="https://discord.gg/Rgfzs9PP" target="_blank")
                        span Discord
                        img(src="assets/img/info/picOne.svg" alt="picture")
                button(class="info__button")
                    a(href="https://t.me/unixtradinghub" target="_blank")
                        span Telegram
                        img(src="assets/img/info/picTwo.svg" alt="picture")

    section(class="partners")
        div(class="partners__container")
            div(class="partners__group")
                div(class="border border__partners")
                    div(class="border-container border-container__partners")
                        h2 any more <br> questions?
                        h3 The last place you’ll ever need to go become a profitable trader.
            div(class="partners__block")
                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__info")
                            h4 How long will it take to get result ?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text") If you dedicate between 1 to 2 hours a day and follow all the indications that are in the program, you should get your first results in 3 months.
                    div(class="partners__item")
                        div(class="partners__info")
                            h4 Will it work for me?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  This works for anyone, no matter your age, country, gender, or economic situation, because it is a method that is validated with numbers, and all you have to do is make the same decisions as I did to get similar results and that is exactly what I teach in the program.

                    div(class="partners__item")
                        div(class="partners__info")
                            h4 I don’t have much money to invest
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  With only $10 USD you can start, either with your own account or by buying a funding account as explained in the video, and be able to access 25k – 50k – 100k capitals.

                    div(class="partners__item")
                        div(class="partners__info")
                            h4 What if I don’t know anything about financial marktet?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  You don't need to know anything about the financial markets to make money in it, however, I will teach you everything you need to understand what you are doing.

                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__info")
                            h4 How long will it take to get results?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  If you dedicate between 1 to 2 hours a day and follow all the indications that are in the program, you should get your first results in 3 months.

                    div(class="partners__item")
                        div(class="partners__info")
                            h4 Will it work for me?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  This works for anyone, no matter your age, country, gender, or economic situation, because it is a method that is validated with numbers, and all you have to do is make the same decisions as I did to get similar results and that is exactly what I teach in the program.

                    div(class="partners__item")
                        div(class="partners__info")
                            h4 What if I don’t know anything about financial marktet?
                            div(class="partners__img")
                                img(src="assets/img/Vector.svg" alt="picture")
                        p(class="partners__text")  You don't need to know anything about the financial markets to make money in it, however, I will teach you everything you need to understand what you are doing.

block script
    script(type='text/javascript')


