extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Webpack-template with Pug';
    - var description='Description for webpack + Pug';
    - var pageClass='index-page';

block content

    section(class="banner")
        div(class="section__video")
            video(autoplay muted loop)
                source(src="assets/img/anmim.mp4" type="video/mp4")
        div(class="banner__container")
            h1(class="banner__title") Crypto trading with bots and smart seals
            button(class="button button__banner")
                span Sign up now
                span
                span
            p(class="banner__text") Trade for free on your favorite exchanges
            div(class="banner__group")
                div(class="banner__img")
                    img(src="assets/img/banner/binance.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/FTX.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/huobi.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/exmo.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/okx.svg" alt="picture logo")
                div(class="banner__img")
                    img(src="assets/img/banner/bybit.svg" alt="picture logo")

    section(class="video")
        div(class="video__container")
            div(class="video__img-container video__img-container_active")
                h2 Manage positions on different <br> exchanges from one <br> window
                img(class="video__image" src="assets/img/video/fonOne.png" alt="picture video")
                img(class="video__image" src="assets/img/video/fonTwo.png" alt="picture video")
                img(class="video__image" src="assets/img/video/fonThree.png" alt="picture video")
                button(class="video__button" type="button")
                    span
            div(class="video__group")
                div(class="video__cross-icon")
                    div(class="video__line1")
                    div(class="video__line2")
                video(class="video__play" controls)
                    source(src="assets/video.mp4" type="video/mp4")

    section(class="numbers")
        div(class="section__img" style="background-image:url(/assets/img/numbers/numbers.png)")
        div(class="numbers__container")
            div(class="numbers__info")
                div(class="numbers__row")
                    div(class="border")
                        div(class="border-container")
                            h4 numbers
                            span Manage positions on
                h2 $18.5 B+
                p Total trading volume
            div(class="numbers__group")
                p Actual statistic on 19.07.2022
                div(class="numbers__items")
                    div(class="numbers__item")
                        div(class="numbers__item-border")
                        h4 36 М+
                        span We are online
                    div
                    div(class="numbers__item")
                        div(class="numbers__item-border")
                        h4 21.5 K+
                        span Traiders <br> in platform
                    div(class="numbers__item")
                        div(class="numbers__item-border")
                        h4 325 M+
                        span Total <br> deals in platform

    section(class="benefits")
        div(class="benefits__container")
            div(class="benefits__row")
                div(class="border")
                    div(class="border-container")
                        h4 benefits
                        span Manage positions on
            div(class="benefits__info benefits__info_one")
                img(src="assets/img/benefits/benefitsOne.png" alt="screenshot with statistics")
                div(class="benefits__block benefits__block_non")
                    h2 Interface Builder
                    div(class="benefits__group")
                        h3 Customize <br> your look
                        p Remove the excess, add what you need. <br> Trade at your convenience.
            div(class="benefits__info benefits__info_two")
                img(src="assets/img/benefits/benefitsTwo.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    div(class="border border__block")
                    h2 Multi Chart
                    div(class="benefits__group")
                        h3 Add any trading pairs
                            span  from different exchanges and analyzecryptocurrency assets on one screen
            div(class="benefits__info benefits__info_three")
                img(src="assets/img/benefits/benefitsThree.png" alt="screenshot with statistics")
                div(class="benefits__block")
                    h2 Portfolio & Statistics
                    div(class="benefits__group")
                        h3 Your assets on all connected exchanges are collected in one place
                        p Visual statistics of trade. <br> Uploading reports

    section(class="work")
        div(class="work__container")
            div(class="work__row")
                div(class="border border__work")
                    div(class="border-container")
                        h2 Everything for your comfortable work
                        div(class="work__group")
                            button(class="work__button work__button_prev")
                                span
                            button(class="work__button work__button_next")
                                span
            div(class="swiper-container")
                div(class="work__items swiper-wrapper")
                    div(class="work__item swiper-slide")
                        h5 Speed
                        img(src='/assets/img/work/one.svg' alt="icon")
                        p Your assets on all <br>connected exchanges are collected <br>in one place
                    div(class="work__item swiper-slide")
                        h5 Hotkeys
                        img(src='/assets/img/work/two.svg' alt="icon")
                        p Use hot keys to work faster
                    div(class="work__item swiper-slide")
                        h5 Notifications
                        img(src='/assets/img/work/three.svg' alt="icon")
                        p Get all the importantemail <br>messages and Telegram
                    div(class="work__item swiper-slide")
                        h5 Demo Account
                        img(src='/assets/img/work/four.svg' alt="icon")
                        p Train. Learn. Test any features.<br>Free and without risks
                    div(class="work__item swiper-slide")
                        h5 Cloud Service
                        img(src='/assets/img/work/five.svg' alt="icon")
                        p Updates are usually invisible.<br>No break from trade.
                    div(class="work__item swiper-slide")
                        h5 Dark theme
                        img(src='/assets/img/work/six.svg' alt="icon")
                        p Trade anytime. Even at night.
                div(class="work__scrollbar")


    section(class="features")
        div(class="features__container")
            div(class="features__group")
                h4 features
                span Manage positions on
            div(class="features__block")
                ul(class="features__items")
                    li(class="features__item")
                        span
                        h4 Stop Loss and Take Profit
                    li(class="features__item")
                        span
                        h4 Trailing
                    li(class="features__item")
                        span
                        h4 Timeout and Candle Stop Loss
                    li(class="features__item")
                        span
                        h4 Pending orders
                    li(class="features__item")
                        span
                        h4 Торговля на графике
                    li(class="features__item")
                        span
                        h4 Trading on the chart channel bot
                    li(class="features__item")
                        span
                        h4 Ladder and averaging
                    li(class="features__item")
                        span
                        h4 Automatic breakeven
                    li(class="features__item")
                        span
                        h4 Booster
                    li(class="features__item")
                        span
                        h4 Panic Sell
                div(class="swiper")
                    div(class="swiper__items swiper-wrapper swiper-feature")
                        div(class="swiper__item swiper-slide slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Stop Loss и Take Profit
                                    img(src='/assets/img/features/one.svg' alt="icon")
                                p Ограничивайте риски и зарабатывайте больше, устанавливая одновременно Stop Loss и несколько Take Profit для каждой сделки.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Trailing
                                    img(src='/assets/img/features/two.svg' alt="icon")
                                p Покупайте и продавайте активы по более выгодным ценам с помощью различных вариантов трейлингов.
                                button(class="features__info-btn")
                                    span Learn more
                                    span
                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Timeout and Candle Stop Loss
                                    img(src='/assets/img/features/three.svg' alt="icon")
                                p Выход из позиции состоится только по истечению таймера или по закрытию свечи выбранного таймфрейма. Позволяет защитить сделку от сквиза и дает гибкость вашей торговой стратегии.
                                button(class="features__info-btn")
                                    span Learn more
                                    span
                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Pending orders
                                    img(src='/assets/img/features/four.svg' alt="icon")
                                p Можно создавать ордера как выше текущей цены, так и ниже. Средства на балансе не блокируются. Такие ордера “не видит” биржа.
                                button(class="features__info-btn")
                                    span Learn more
                                    span
                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Торговля на графике
                                    img(src='/assets/img/features/five.svg' alt="icon")
                                p Создавайте и редактируйте сделки или ботов наглядно и быстро. Прямо на графике.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Trading on the chart channel bot
                                    img(src='/assets/img/features/six.svg' alt="icon")
                                p Получайте максимальную выгоду от торговли в заданном ценовом диапазоне. Авто-перезапуск позволяет совершать неограниченное количество покупок и продаж без участия трейдера.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Ladder and averaging
                                    img(src='/assets/img/features/seven.svg' alt="icon")
                                p Создавайте сетки ордеров на вход и выход из позиции. Система сама рассчитает среднюю цену входа и итоговую прибыль.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Automatic breakeven
                                    img(src='/assets/img/features/eight.svg' alt="icon")
                                p После исполнения первого тейка платформа установит Stop Loss в безубыток, защитив позицию от нежелательной просадки.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Booster
                                    img(src='/assets/img/features/nine.svg' alt="icon")
                                p Торгуйте на Binance Futures, использую всего 2 кнопки для входа в сделку и управления позицией. Мгновенный переворот из лонга в шорт и обратно.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                        div(class="swiper__item swiper-slide")
                            div(class="swiper__info")
                                div(class="swiper__div")
                                    h5 Panic Sell
                                    img(src='/assets/img/features/ten.svg' alt="icon")
                                p Быстрое закрытие всех активных смарт-сделок и выход из позиций по текущей рыночной цене.
                                button(class="features__info-btn")
                                    span Learn more
                                    span

                div(class="features__btn-swiper")
                    button(class="features__button features__button_prev")
                        div(class="features__border")
                        span
                    button(class="features__button features__button_next")
                        div(class="features__border")
                        span
                div(class="swiper__pagination")

    section(class="trade")
        div(class="section__img section__img_trade" style="background-image:url(/assets/img/trade/fonTrade.png)")
        div(class="trade__container")
            div(class="trade__row")
                div(class="border border__trade")
                    div(class="border-container border-container__trade")
                        span(class="trade__text") All functionality is always at hand.
                        h2 Trade anywhere
            div(class="trade__group")
                p The service is fully adapted to work through a browser on your smartphone or tablet
                button(class="button")
                    span Create an account
                    span
                    span


    section(class="stage")
        div(class="stage__container")
            div(class="stage__row")
                div(class="border border__stage")
                    div(class="border-container")
                        h4 high security <br> platform
                        span API, 2FA and Technology
            div(class='stage__group')
                img(class="stage__picture" src="/assets/img/platform/platformFon.png" alt="banner background")
                div(class="stage__items")
                    div(class="stage__item")
                        div(class="stage__info")
                            h5 API Keys
                            img(src='/assets/img/platform/iconOne.svg' alt="icon")
                        p Trading takes place through API keys of exchanges with the inability to withdraw funds.
                    div(class="stage__item")
                        div(class="stage__info")
                            h5 Server
                            img(class="stage__img" src='/assets/img/platform/iconTwo.svg' alt="icon")
                        p User data is encrypted and stored on an isolated server.
                    div(class="stage__item")
                        div(class="stage__info")
                            h5 2FA
                            img(src='/assets/img/platform/iconThree.svg' alt="icon")
                        p Checking new devices and IP addresses, as well  two-factor authentication allow you to securely protect your account from unauthorized access.

    section(class="partners")
        div(class="partners__container")
            div(class="partners__group")
                div(class="border border__partners")
                    div(class="border-container border-container__partners")
                        h2 our partners
                        p The Capico platform is the official broker of the leading cryptocurrency exchanges
            div(class="partners__block")
                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/binance.svg" alt="picture logo")
                        span binance
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/FTX.svg" alt="picture logo")
                        span fedex
                div(class="partners__items")
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/huobi.svg" alt="picture logo")
                        span huobi
                    div(class="partners__item")
                        div(class="partners__img")
                            img(src="assets/img/banner/okx.svg" alt="picture logo")
                        span okx

    section(class="info")
        div(class="section__img section__img_info" style="background-image:url(/assets/img/infoFon.png)")
        div(class="info__container")
            p Free use per month
            h2 Try Capico for free per month
            button(class="button")
                span Create an account
                span
                span

block script
    script(type='text/javascript')

