@import "mixins";

// Fonts
@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: $fontWeightLight;
  font-display: swap;
  src: url("/assets/fonts/Nekst-Light.woff2?v=3.19") format("woff2"),
  url("/assets/fonts/Nekst-Light.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: $fontWeightRegular;
  font-display: swap;
  src: url("/assets/fonts/Nekst-Regular.woff2?v=3.19") format("woff2"),
  url("/assets/fonts/Nekst-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: $fontWeightMedium;
  font-display: swap;
  src: url("/assets/fonts/Nekst-Medium.woff2?v=3.19") format("woff2"),
  url("/assets/fonts/Nekst-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-display: swap;
  src: url("/assets/fonts/Nekst-SemiBold.woff2?v=3.19") format("woff2"),
  url("/assets/fonts/Nekst-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: $fontWeightBold;
  font-display: swap;
  src: url("/assets/fonts/Nekst-Bold.woff2?v=3.19") format("woff2"),
  url("/assets/fonts/Nekst-Bold.woff?v=3.19") format("woff");
}
