/* Vars:
   ========================================================================== */

//Color
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlackTwo: #0E0915;
$colorBlackThree: #171022;
$colorGrey: #8F889A;

$colorGrayTwo: #7B708D;
$colorGreyThree: #37353F;
$colorGrayFour: #909090;
$colorGrayFive: #6E647D;
$colorGraySix: #B7B1C3;
$colorGraySeven: #B4B4B4;
$colorGrayEight: #E9E3F4;



$colorBurger: #D9D9D9;
$colorViolet: #5F29B7;
$colorVioletTwo: #8A4CEF;
$colorVioletThree: #904BFF;
$colorVioletFour: #8441F1;
$colorVioletFive: #8950E7;
$colorVioletSix: #644F86;
$colorVioletSeven: #8E67CC;
$colorVioletEight: #AA87E2;
$colorVioletNine: #B496EE;
$coloVioletTen: #7952FF;
$colorVioletEleven: #402E5C;

//Gradient
$gradient-one: linear-gradient(180deg, #5A2FED 0%, #8F00FF 100%);
$gradient-two: linear-gradient(125.96deg, #C6BBF2 -34.49%, #411883 85.02%);
$gradient-four: linear-gradient(96.63deg, #FFFFFF 5.78%, #5F29B7 72.85%);
$gradient-three: rgba(64, 46, 92, 1);
$gradient-five: linear-gradient(89.92deg, #FFFFFF 10.08%, #5F29B7 98.33%);
$gradient-fix: linear-gradient(125.96deg, #7061AA -34.49%, #340E73 85.02%);

//Fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
