include ../utils/mixins


block variables
    // Это основа для страниц
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body(class=pageClass)
        include ../includes/modules/header
        div(class="main")
            block content
        include ../includes/modules/footer

    block script
